*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* STRUTTURA HEADER */
header, main{
  width: 100vw;
}
.firstbar{
  width: 100%;
  height: 80px;
  line-height: 80px;
  background-color: #e8ebef;
  padding: 0 10%;
  border-bottom: 1px solid grey;
}
.secondbar{
  width: 100%;
  height: 90px;
  line-height: 90px;
  background-color: white;
  padding: 0 10%;
  position: relative;
}
.firstbar:after{
  content: "";
  display: table;
  clear: both;
}
.secondbar:after{
  content: "";
  display: table;
  clear: both;
}

header:after{
  content: "";
  display: table;
  clear: both;
}


/* STRUTTURA MAIN */
.contenitore1{
  background: linear-gradient(90deg, #0884cc,#7fe3f4);
  height: 800px;
}
.contenitore2{
  height: 1800px;
  padding: 50px 0;
  background-color: #e3e6e8;
}
.contenitore3{
  height: 800px;
  background: linear-gradient(90deg, #0884cc,#7fe3f4);
  padding: 70px 20px;
}
.contenitore4{
  height: 800px;
  background-color: grey;
}


/* STRUTTURA FOOTER */
footer{
  background-color: black;
  height:150px;
}



/* STRUTTURA INTERNA E CONTENUTO PRIMA BARRA HEADER */
.firstbarleft{
  float: left;
}
.firstbarright{
  float: right;
}
.firstbarleft *, .firstbarright *{
  display: inline-block;
  font-size: 16px;
  font-family: sans-serif;
  color: #222830;
}
.firstbarleft div:first-child{
  padding-right: 40px;
}
.firstbarleft div:last-child{
  padding-left: 40px;
}
.firstbarright button{
  padding: 10px;
  font-size: 14px;
}
.firstbarright button:first-of-type{
  border: 1px solid #d84422;
  background-color: white;
  height: 40px;
  width: 70px;
  color: #d84422;
  border-radius: 5px;
  margin-left: 20px;
}
.firstbarright button:last-of-type{
  background-color: #d84422;
  height: 40px;
  width: 150px;
  border-radius: 5px;
  color: white;
  margin-left: 10px;
}




/* STRUTTURA INTERNA E CONTENUTO SECONDA BARRA HEADER */
.secondbarleft{
  float: left;
}
.secondbarleft img{
  width: 150px;
  height: 50px;
  position: absolute;
  top: 25%;
}
.secondbarright{
  float: right;
  font-family: sans-serif;
  color: #222830;
  font-weight: bold;
}
.secondbarright ul{
  font-size: 0;
}
.secondbarright ul li{
  font-size: 16px;
  display: inline-block;
  padding: 0 15px;
}

/* CONTENUTO PRIMO CONTAINER */

.textcontenitore1{
  float: left;
  width: 50%;
  margin: 60px;
}

.textcontenitore1 *{
  color: white;
  font-family: sans-serif;
  padding-right: 100px;
  margin-top: 25px;
}

.textcontenitore1 h1{
  font-size: 60px;
}
.textcontenitore1 p{
  font-size: 20px;
}
.textcontenitore1 button{
  height: 80px;
  width: 250px;
  color: #222830;
  font-size: 17px;
  padding: 0;
}
.textcontenitore1 div{
  font-size: 12px;
  width: 330px;
}



/* CONTENUTO SECONDO CONTENITORE */
.contenitore2 img{
  width: 300px;
  height: 200px;
  position: relative;
  left: 50%;
  transform:translate(-50%);
}
.textcontenitore2{
  font-family: sans-serif;
  color: #222830;
  text-align: center;
  font-size: 15px;
}
.contenitore2 h2:first-of-type{
  font-size: 35px;
}
.contenitore2 div:first-of-type{
  font-size: 18px;
  margin: 30px 200px;
}


.riquadro1{
  width: 70%;
  background-color: white;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}



/* CONTENUTO CONTENITORE 3 */
.textcontenitore3{
  color: white;
  font-family: sans-serif;
  font-size: 16px;
  text-align: center;
}
.contenitore3 h2{
  font-size: 40px;
  font-weight: 700;
}
.intro{
  padding: 5px 250px;
  margin-bottom: 50px;
}

.containerblocchi{
  width: 900px;
  margin: 0 auto;
}
.blocco{
  display: inline-block;
  padding: 20px;
}
