*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* STRUTTURA HEADER */
header, main{
  width: 100vw;
}
.firstbar{
  width: 100%;
  height: 80px;
  line-height: 80px;
  background-color: #e8ebef;
  padding: 0 10%;
  border-bottom: 1px solid grey;
}
.secondbar{
  width: 100%;
  height: 90px;
  line-height: 90px;
  background-color: white;
  padding: 0 10%;
  position: relative;
}
.firstbar:after{
  content: "";
  display: table;
  clear: both;
}
.secondbar:after{
  content: "";
  display: table;
  clear: both;
}

header:after{
  content: "";
  display: table;
  clear: both;
}


/* STRUTTURA MAIN */
.contenitore1{
  background: linear-gradient(90deg, #0884cc,#7fe3f4);
  height: 800px;
}
.contenitore2{
  height: 1800px;
  padding: 50px 0;
  background-color: #e3e6e8;
}
.contenitore3{
  height: 800px;
  background: linear-gradient(45deg, #53dbcf,#157aa3);
  padding: 70px 20px;
}
.contenitore4{
  height: 1000px;
  background-color: white;
  padding: 80px;
}


/* STRUTTURA FOOTER */
footer{
  background-color: #395060;
  height:600px;
}



/* STRUTTURA INTERNA E CONTENUTO PRIMA BARRA HEADER */
.firstbarleft{
  float: left;
}
.firstbarright{
  float: right;
}
.firstbarleft *, .firstbarright *{
  display: inline-block;
  font-size: 16px;
  font-family: sans-serif;
  color: #222830;
}
.firstbarleft div:first-child{
  padding-right: 40px;
}
.firstbarleft div:last-child{
  padding-left: 40px;
}
.firstbarright button{
  padding: 10px;
  font-size: 14px;
}
.firstbarright button:first-of-type{
  border: 1px solid #d84422;
  background-color: white;
  height: 40px;
  width: 70px;
  color: #d84422;
  border-radius: 5px;
  margin-left: 20px;
}
.firstbarright button:last-of-type{
  background-color: #d84422;
  height: 40px;
  width: 150px;
  border-radius: 5px;
  color: white;
  margin-left: 10px;
}




/* STRUTTURA INTERNA E CONTENUTO SECONDA BARRA HEADER */
.secondbarleft{
  float: left;
}
.secondbarleft img{
  width: 150px;
  height: 50px;
  position: absolute;
  top: 25%;
}
.secondbarright{
  float: right;
  font-family: sans-serif;
  color: #222830;
  font-weight: bold;
}
.secondbarright ul{
  font-size: 0;
}
.secondbarright ul li{
  font-size: 16px;
  display: inline-block;
  padding: 0 15px;
}

/* CONTENUTO PRIMO CONTAINER */

.textcontenitore1{
  float: left;
  width: 50%;
  margin: 60px;
}

.textcontenitore1 *{
  color: white;
  font-family: sans-serif;
  padding-right: 100px;
  margin-top: 25px;
}

.textcontenitore1 h1{
  font-size: 60px;
}
.textcontenitore1 p{
  font-size: 20px;
}
.textcontenitore1 button{
  height: 80px;
  width: 250px;
  color: #222830;
  font-size: 17px;
  padding: 0;
}
.textcontenitore1 div{
  font-size: 12px;
  width: 330px;
}



/* CONTENUTO SECONDO CONTENITORE */
.contenitore2 img{
  width: 300px;
  height: 200px;
  position: relative;
  left: 50%;
  transform:translate(-50%);
}
.textcontenitore2{
  font-family: sans-serif;
  color: #222830;
  text-align: center;
  font-size: 15px;
}
.contenitore2 h2:first-of-type{
  font-size: 35px;
}
.contenitore2 div:first-of-type{
  font-size: 18px;
  margin: 30px 200px;
}


.riquadro1{
  width: 70%;
  background-color: white;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}



/* STRUTTURA INTERNA E CONTENUTO CONTENITORE 3 */
.textcontenitore3{
  color: white;
  font-family: sans-serif;
  font-size: 16px;
  text-align: center;
}
.contenitore3 h2{
  font-size: 40px;
  font-weight: 700;
}
.intro{
  padding: 5px 250px;
  margin-bottom: 50px;
}

.containerblocchi{
  width: 800px;
  margin: 0 auto;
}
.blocco1{
  border-bottom: 2px solid white;
}
.elementiblocco{
  display: inline-block;
  padding: 20px;
  margin: 2px 0;
  border-right: 2px solid white;
}
.blocco1 .elementiblocco:last-child, .blocco2 .elementiblocco:last-child{
  border-right: 0;
}


/* STRUTTURA INTERNA CONTENITORE 4 */
.firstlittlecontainer, .secondlittlecontainer{
  width: 1000px;
  margin: 50px auto;
}
.textcontenitore4{
  font-family: sans-serif;
  color:#222830;
}
.secondlittlecontainer{
  margin-top: 200px;
}

/* contenuto primi due float */
.flcleft{
  float: left;
}
.flcleft h2, .slcleft h2{
  font-size: 45px;
  margin: 10px auto;
}
.flcleft h4{
  font-size: 20px;
  margin: 10px auto;
}
.flcright{
  float: right;
  width: 400px;
}
.flcright div{
  display: inline-block;
  margin: 0 10px;
  font-size: 55px;
  color: grey;
}
.firstlittlecontainer::after{
  display: table;
  content: "";
  clear: both;
}

/* contenuto secondi due float */
.slcleft{
  width: 500px;
  float: left;
}
.slcleft button{
  height: 60px;
  padding: 20px;
  background-color: #d84422;
  color: white;
  margin: 25px 0;
}
.slcleft div:first-of-type{
  font-size: 16px;
  margin: 20px 0;
}
.slcleft div{
  font-size: 12px;
  margin-top: 10px;
}
.slcright{
  float: right;
}
.slcright img{
  width: 400px;
  height: 400px;
  border-radius: 400px;
  background-color: pink;
}



/* CONTENUTO FOOTER */
/* Footer prima parte */
.listafinale{
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}
.textfooter{
  color: white;
  font-family: sans-serif;
  font-size: 16px;
}
.lista{
  display: inline-block;
  margin: 10px 70px;
  list-style-type: none;
  text-decoration:inherit;
}
.lista li{
  margin: 15px;
}
.lista li:first-child{
  font-weight: bold;
}
.contact{
  text-align: right;
  margin: 10px 60px;
}
.contact button{
  padding: 2px;
  height: 40px;
  color: #395060;
}
.social i{
  font-size: 20px;
  margin: 10px;
}
.language li{
  display:inline-block;
  margin: 30px 0;
  padding: 0px 20px;
}


/* Footer seconda parte */
.leftfinale{
  float: left;
}
.leftfinale img{
  width: 150px;
  height: 50px;
}
.leftfinale div{
  font-size: 12px;
}
.rightfinale{
  float: right;
}
.rightfinale div{
  display: inline-block;
  font-size: 16px;
  margin: 10px;
}
